 *{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    color: #2e2e2e;
    font-family: "Oxygen", serif;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 89px auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    padding: 30px 30px 0;
}

.navigaton__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navigation__link {
    display: block;
    padding: 10px 20px;
    color: black;
    font: 400 12px/20px "Oxygen" serif;
    text-transform: uppercase;
}

#burger__navigation
{
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.95;
    box-sizing: border-box;
    padding: 40px 30px; 
}

.burger__list
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px 0;
}

.burger__item__link
{
    text-transform: uppercase;
    font: 400 32px / 51px "Lora";
    color: black;
}


.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 160px;
}

.name {
    padding: 0 30px;
    font-family: "Lora", serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
}

.description {
    padding: 20px 30px 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.image {
    margin: 38px auto 140px auto;
    width: 100%;
}

.wrapper article {
    margin: 0 auto 135px auto;
}

.article_text {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/index/background.png) rgba(35, 47, 56, 0.6);
    background-blend-mode: multiply;
    background-size: 100% 100% ;
    padding-left: 30px;
    padding-right: 30px;
}

.selection_panel {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    width: 960px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navigation_end ul {
    display: flex;
    flex-wrap: wrap;
}

.navigation_end ul li a{
    text-transform: uppercase;
    padding-right: 20px;
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: right;
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 320px)
{
    .navigation-header
    {
        display: none;
    }
    .navigation_end ul
    {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px)
{
    .navigation_end ul
    {
        flex-direction: row;
    }
    #burger_menu
    {
        display: none;
    }
    .navigation-header
    {
        display: flex;
    }
}