* {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #2e2e2e;
    font-family: "Oxygen", serif;
}
.header {
    background: no-repeat url(../images/index/Sandy_mountains.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px 30px 110px;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    width: 100%;
}

#burger__navigation
{
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.95;
    box-sizing: border-box;
    padding: 40px 30px; 
}

.burger__list
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px 0;
}

.burger__item__link
{
    text-transform: uppercase;
    font: 400 32px / 51px "Lora";
    color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}


.navigaton__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navigation__link {
    display: block;
    padding: 10px 20px;
    color: white;
    font: 400 12px/20px "Oxygen" serif;
    text-transform: uppercase;
}

.header__title {
    font: 400 50px/51px "Lora";
    text-align: center;
    color: white;
    margin: 110px auto 20px auto;
}

.header__subtitle {
    font: 400 17px/20px "Oxygen";
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
    margin-bottom: 31px;
}

.header__last-posts-link {
    font: 400 13px/20px "Oxygen";
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background: rgba(221, 120, 63, 1);
    padding: 12px 31px;
    border-radius: 3px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 89px;
    background: rgba(247, 247, 247, 1);
}
.wrapper {
    width: 100%;
    padding-top: 9px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;

}
.choose-theme {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    background-size: 100% 100%;

}

.choose-theme__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.choose-theme__link
{
    display: block;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    font: 400 14px/20px "Lora";
}

.featured-list-posts, .list-posts  {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    flex-wrap: wrap;    
}

.featured-posts {
    padding-top: 60px;
    max-width: 1020px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-posts__title {
    font: 400 20px/27px "Oxygen";
    letter-spacing: 2px;
}

.line {
    margin: 16px 0;
    width: 188px;
    height: 1px;
    background-color: rgba(222, 222, 222, 1);
}

.featured-posts__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.featured-posts__item {
    position: relative;
    height: 280px;
    width: 100%;
    padding: 7px 0 7px;
}

.featured-posts__item-background {
    width: 100%;
    height: 100%;
}
.featured-posts__item-note {
    position: absolute;
    left: 20px;
    top: 20px;
    display: block;
    padding: 6px 9px 5px;
    border-radius: 2px;
    font: 400 12px/13px "Oxygen";
    color: white;
    text-transform: uppercase;
}

.photography {
    background: rgba(168, 114, 183, 1);
}

.adventure {
    background: rgba(221, 120, 63, 1);
}
.featured-posts__link
{
    max-width: 440px;
    width: 100%;
}

.featured-posts__item-title {
    position: absolute;
    left: 20px;
    top: 157px;
    font: 400 27px/30px "Lora";
    color: white;
}

.featured-posts__item-subtitle {
    position: absolute;
    left: 20px;
    top: 193px;
    font: 400 14px/25px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.featured-posts__author{
    position: absolute;
    bottom: 19px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
}

.featured-posts__author-image {
    position: absolute;
    left: 20px;
    width: 26px;
    height: 26px;
    border-radius: 60px;
}

.featured-posts__author-name {
    position: absolute;
    left: 56px;
    font: 400 12px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.featured-posts__author-date {
    position: absolute;
    right: 15px;
    font: 400 12px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.most-recent {
    padding-top: 60px;
    max-width: 1020px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.most_recent_post_link
{
    max-width: 440px;
    width: 100%;
}

.most-recent__title {
    font: 400 20px/27px "Oxygen";
    letter-spacing: 2px;
}

.most-recent__item {
    width: 100%;
    height: 291px;
    margin: 6px 0 19px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.most-recent__item-background{
    width: 100%;
    height: 150px;
}

.most-recent__item-body {
    width: 100%;
    height: 93px;
}

.most-recent__item-title {
    padding-left: 13px;
    padding-top: 14px;
    font: 400 16px/21px "Lora";
}

.most-recent__item-subtitle {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 6px;
    font: 400 13px/19px "Oxygen";
    color: rgba(122, 122, 122, 1);
}

.most-recent__line{
    width: 100%;
    height: 1px;
	background-color: rgba(222, 222, 222, 1); 
}

.most-recent__author {
    position: relative;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
}

.most-recent__author-image {
    position: absolute;
    left: 13px;
    width: 26px;
    height: 26px;
    border-radius: 60px;
}

.most-recent__author-name {
    position: absolute;
    left: 49px;
    font: 400 11px/35px "Oxygen";
    color: rgba(153, 153, 153, 1);
}

.most-recent__author-date {
    position: absolute;
    right: 15px;
    font: 400 12px/35px "Oxygen";
    color: rgba(153, 153, 153, 1);
}

.container-footer
{
    display: flex;
    justify-content: center;
    padding: 28px 0 27px;
    width: 100%;
    background: rgba(35, 47, 56, 0.6);
    background-blend-mode: multiply;
}

.footer {
    display: flex;
    flex-direction: column;
    background: url(../images/index/background.png);    
    background-size: cover;
    background-position: center;
}

.footer-title-container
{
    margin: 0 auto;
    width: 188px;
    padding-top: 82px;
    padding-bottom: 20px;
}

.footer__title
{
    text-align: center;
    font: 400 25px/30px 'Oxygen', serif;
    padding-bottom: 17px;
    color: rgba(239, 239, 239, 1);

}

.footer__line
{
    width: 100%;
    height: 1px;
    background: rgba(222, 222, 222, 1);
}

.post_email
{
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 89px;
}
.post_email_input
{
    border-radius: 3px 0px 0px 3px;
    outline: none;
    font: 400 12px/14px "Roboto", serif;
    box-sizing: border-box;
    padding-left: 35px;
    height: 50px;
    width: 330px;
}

.post_email_button 
{
    border-radius: 0px 3px 3px 0px;
    font: 400 12px 14px "Roboto", serif;
    color: rgba(248, 248, 248, 1);
    padding: 18px 28px;
    background: rgba(255, 255, 255, 0.28);
    max-height: 50px;
}
.footer .navigation__link {
    font: 400 11px/26px "Oxygen";
    color: rgba(255, 255, 255, 0.6);
    padding: 4px 10px;
}

@media screen and (min-width: 320px)
{
    .post_email_input  
    {
        width: 200px;
    }
    .navigaton__list
    {
        flex-direction: column;
        align-items: flex-end;
    }
    .choose-theme
    {
        max-width: 314px;
    } 
    .choose-theme__item
    {
        width: 30%;
    }  
    .navigation-header
    {
        display: none;
    }
    .burger_menu
    {
        display: block;
    }
}
@media screen and (min-width: 480px)
{
    .post_email_button  
    {
        padding: 18px 36px;
    }    
    .post_email_input  
    {
        width: 330px;
    }   
}
@media screen and (min-width: 768px)
{
    .navigaton__list
    {
        flex-direction: row;
        justify-content: center;
    }
    #burger_menu
    {
        display: none;
    }
    .navigation-header
    {
        display: flex;
    }
    .post_email_button  
    {
        padding: 18px 43px;
    }
    .post_email_input  
    {
        width: 375px;
    }
    .most_recent_post_link
    {
        max-width: unset;
        width: 31%;
    }
    .featured-list-posts, .list-posts
    {
        justify-content: space-between;
    }
    .featured-posts__link
    {
        max-width: 100%;
        width: 49%;
    }
    .choose-theme__item
    {
        width: unset;
    } 
    .choose-theme__list
    {
        justify-content: space-around;
    }
    .choose-theme__list
    {
        flex-wrap: nowrap;
    }
    .choose-theme__link 
    {
        width: 84px;
    }  
    .choose-theme
    {
        max-width: 502px;
    } 
}

@media screen and (min-width: 1024px)
{
    .choose-theme__link 
    {
        width: 139px;
    }   
    .choose-theme
    {
        max-width: 682px;
    }
}

@media screen and (min-width: 1366px)
{
    .choose-theme
    {
        max-width: 960px;
    }
}