*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    color: #2e2e2e;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 89px;
}
.Header_Text {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    padding-top: 20px;
    padding-bottom: 28px;
}
.Navigation ul {
    display: flex;
}
.Navigation ul li {
    padding-right: 41px;
    font-size: 12px;
}

.logo {
    font-size: 26px;
}
.headline {
    width: 940px;
    height: 160px;
}
.name {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-weight: 400;
    font-size: 50px;
}

.description {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-weight: 400;
    font-size: 17px;
    padding-top: 20px;
}
.image {
    padding-top: 38px;
    width: 100%;
    height: 534px;
    padding-bottom: 140px;
}