*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    color: #2e2e2e;
    font-family: "Oxygen";
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 89px;
}
.header_text {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    padding-top: 20px;
    padding-bottom: 28px;
}
.navigation ul {
    display: flex;
}
.navigation ul li {
    padding-right: 41px;
    font-size: 12px;
    line-height: 20px;
}
.logo {
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
}
.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 160px;
}
.name {
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
}

.description {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    padding-top: 20px;
}
.image {
    margin: 38px auto 140px auto;
    width: 100%;
    height: 534px;
}

.article {
    margin: 0 auto 135px auto;
    max-height: 1430px;
    max-width: 960px;
    
}
.article p {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #101315;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../lw1/images/Background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 90px ;
    height: 90px;
    width: 100%;
}

.selection_panel {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    width: 960px;
    height: 34px;
}

.logo_end {
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFF;
}

.navigation_end ul {
    display: flex;

}
.navigation_end ul li a{
    padding-right: 20px;
    font-weight: 400;  
    font-size: 11px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.6);
}


